<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/c"
             xmlns:aop="http://www.springframework.org/schema/aop"

             xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--mybatis-context.xml Replaces DbUtil Class-->

    <!--<context:property-placeholder location="/WEB-INF/spring/appServlet/*.properties"/>-->
    <context:property-placeholder location="/WEB-INF/spring/appServlet/dbInfo.properties"/>


    <!--(1) Replaces DB Util-->
    <!-- oracle 연결 p:driverClassName=${driver} .. p:username=${username} .. -->
    <beans:bean id="dataSource"
                class="org.apache.commons.dbcp.BasicDataSource"
                p:driverClassName="${driver}"
                p:url="${url}"
                p:username="${user}"
                p:password="${password}"
                p:maxActive="10"/>

    <!--(2) Replaces DB Util-->
    <beans:bean id="sqlSessionFactory"
                class="org.mybatis.spring.SqlSessionFactoryBean">
        <beans:property name="dataSource" ref="dataSource"/>
        <!--  Mapper.xml 로끝나는 mapper 모두 등록 -->
        <beans:property name="mapperLocations" value="classpath:mapper/*Mapper.xml"/>
        <!-- dto폴더안에있는 클래스들 별칭 자동만듦 - 클래스명의 첫글만 소문자!! -->
        <beans:property name="typeAliasesPackage" value="mvc.dto"/>
        <!-- <beans:property name="configLocation" value="classpath:SqlMapConfig.xml"></beans:property> -->
    </beans:bean>

    <!--(3) Replaces DB Util-->
    <beans:bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <beans:constructor-arg index="0" ref="sqlSessionFactory"/>
    </beans:bean>


    <!-- Spring Transaction 설정 (transaction manager , transaction)-->
    <!--
    <beans:bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager">
        <beans:property name="dataSource" ref="dataSource"/>
    </beans:bean>

    <tx:advice transaction-manager="transactionManager" id="txAdvice">
        <tx:attributes>
            <tx:method name="*" propagation="REQUIRED" isolation="DEFAULT" rollback-for="mvc.exception.MyException"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:advisor advice-ref="txAdvice" pointcut="execution(public * mvc.service.*Impl.*(..))"/>
    </aop:config>
    -->

    <!-- 위의 transaction 옵션 과 aop 설정을 서비스 클래스/메소드 에 @transactional annotation 으로 대체 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>


</beans:beans>


